
/* RESET */
img{
    max-width: 100%;
}


/* COMMON */
/* Layout */
.ms_small-container{
    width: 80%;
    max-width: 450px;
    /* debug */
    border: 1px solid black;
}

@media screen and (min-width: 768px) {
    .ms_small-container{
        max-width: 600px;
    }
}

@media screen and (min-width: 992px) {
    .ms_small-container{
        max-width: 800px;
    }    
}



/* UTILITIES */
.ms_primary_bg{
    background-color: #1ABC9C;
}


/* HEADER */
.ms_header{
    background-color: #2C3E50;
    /* debug */
    /* min-height: 60px; */
}




/* MAIN */

/* Hero Section */
.ms_hero-section {
    /* debug */
    min-height: 200px;
}

/* Portfolio Section */
.ms_card{
    /* debug */
    min-height: 100px;
    background-color: lightsalmon;
    border: 1px solid black;
}


/* FOOTER */
