
/* RESET */
img{
    max-width: 100%;
}


/* COMMON */
/* Layout */



/* UTILITIES */



/* HEADER */
.ms_header{
    /* debug */
    min-height: 60px;
    background-color: lawngreen;
}


/* MAIN */



/* FOOTER */
